*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display:flex;
}
.sidebar{ 
    width:15%; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding:20px;
    height:fit-content
    color:rgb(206, 12, 12);
    background-color:rgb(148, 227, 247);
    z-index: 100;
}
.page-content{
    width:85%;
    padding:20px;
    color: #0a0909;
    background-color: rgb(220, 224, 225);
}
.sidebar .menu li{
   padding: 10px;
   list-style:none;
   color:black;
}
.sidebar .menu li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.settings{
    margin-top: 150px;
}
.header{
    color:black;
    text-transform:uppercase;
    background-color: rgb(236, 199, 239);
    text-align: center;
    padding: 5px;
    font-size: 11px;
    margin-bottom: 15px;
}
.homepage {
  /* background-color: rgba(152, 213, 237, 0.653); */
  background-image: url(./images/download.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.carousel .carousel-inner .carousel-item{
    height: 70vh
}

.about img{
    width: 100%;
    height: 400px;
}
.form{
    width:100%
}
body{
    background-color: aqua;
}
.col{
    padding: 15;
    margin-bottom: 10px;
    margin-top: 15px;
}
body {
  background-color: rgba(152, 213, 237, 0.653);
  margin: 0;
  
}
table {
 
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
  border-radius: 10px;
  margin: 6px;
  
}

td, th {
  
  text-align: center;
  padding: 8px;
  border: 1px solid black
}

tr:nth-child(even) {
  background-color: #0dddf0;
}
h1, h2 {
    color:rgb(19, 2, 2);
    text-align: center;
    margin-top: 20px;
}
td{
    text-align: left;
}